*{
  font-family: cursive;
  padding: 0;
  margin: 0;
}
.navbar-nav i  {
  color: white;
}
body{
  background-color: white;
}
.container-fluid{
  background-color: #1D282D ;
  color: oldlace;
}
.card-footer{
  background-color:#1D282D ;
  color: oldlace;
}
#lala {
  background-color: white;
}
a.active:hover{
  background-color: #313E44;
}
.card-body{
  text-align: center;
  color: black;
}
.card-body i{
  color: black;
}
.facebook i:hover{
  color: #0097F9
}
.instagram i:hover{
  color: #E83497;
}
.clanak1{
  padding: 20px;
  width: 80%;
  color: #1D282D;
  margin-left: 30px;
  font-weight: bold;
}
.slika1, .slika2, .slika3{
  width: 80%;
  margin-bottom: 10px;
  margin-left: 30px;
}
.table{
  color: #1D282D;
  font-weight: bold;
  margin-top: 5%;

}
a:visited {
  color: #336D7E;
  background-color: transparent;
  text-decoration: none;
}
.clanak2{
  padding: 20px;
  width: 50%;
  background-color: #E8EDF0;
  margin-top: 3%;
  color: #1D282D;
  margin-left: 5%;
  font-weight: bold;
  justify-content: center;
}
.clanak3{
  padding: 20px;
  font-weight: bold;
  width:60%;
  background-color: #E8EDF0;
  color: #1D282D;
  margin-top: 3%;
  margin-left: 20%;
  font-weight: bold;
  justify-content: center;
}
a.clanak3{
  text-decoration: none;
  color: white;
  width: 150%;
}